{% include "CueComBundle::header.html.twig" %}

{% block title %}CueComBundle:Pages:aboutme{% endblock %}

{% block body %}
<h1>Welcome to the Pages:aboutMe page</h1>
{% endblock %}

{% include "CueComBundle::footer.html.twig" %}