{% include "CueComBundle::header.html.twig" %}

{% block title %}CueComBundle:Pages:career{% endblock %}

{% block body %}
<h1>Welcome to the Pages:Career page</h1>
{% endblock %}

{% include "CueComBundle::footer.html.twig" %}