<div style="border:1px; heigth:300px; width:90%; background-color: green; margin-top:0%">

<h1>CueLogic Technologieszzzz</h1>

<br>

<a href="{{path('aboutme')}}">About Me</a>
<a href="{{path('career')}}">Careers</a>
<a href="{{path('client')}}">Client</a>

<hr>
</div>
